/node_modules
/public/hot
/public/storage
/storage/cache/laravel-excel
/public/css
/public/js/*
/public/mix-manifest.json
/storage/*.key
/vendor
/builds
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
package-lock.json
composer.lock
laravel-echo-server.lock
laravel-echo-server.json
