@import '~antd/dist/antd.min.css';

.print-preview{
    * {
        font-size: 12px;
        font-family: 'Times New Roman';
    }

    td,
    th,
    tr,
    table {
        border-top: 1px solid black;
        border-collapse: collapse;
    }

    td.quantity,
    th.quantity {
        width: 20px;
        max-width: 20px;
        word-break: break-all;
    }

    td.sku,
    th.sku {
        width: 15px;
        max-width: 15px;
    }

    td.name,
    th.name {
        width: 100px;
        max-width: 100px;
        word-break: break-all;
    }

    .centered {
        text-align: center;
        align-content: center;
    }

    .ticket {
        width: 155px;
        max-width: 155px;
    }

    img {
        max-width: inherit;
        width: inherit;
    }
}

.ant-skeleton-element-custom {
    display: block;
}


/**
Login
 */

#components-form-demo-normal-login {
    height: 100%;
    border-top: none;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
    margin: 0 auto;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.top-nav-avatar {
    margin-left: auto;
    float: right;
}

.menu-remove-float {

}

.form-item-upload .ant-upload-select-picture-card {
    height: 92px;
    width: 92px;
}

.custom-table {
    .ant-table-thead {
        .ant-table-cell {
            &:last-child {
                .ant-table-column-title {
                    display: none !important;
                }

                .ant-dropdown-trigger {
                    font-size: 15px;
                    font-weight: bold;
                    color: grey;
                    margin-right: -20px;
                }
            }
        }
    }
}

//ant-menu-overflow-item ant-menu-overflow-item-rest ant-menu-submenu ant-menu-submenu-horizontal

//ant-menu-overflow-item ant-menu-overflow-item-rest ant-menu-submenu ant-menu-submenu-horizontal ant-menu-submenu-disabled
