

.ant-skeleton-element-custom {
    display: block;
}

#status-bar {
    padding: 4px 16px;
    border-bottom: 1px solid #cccccc;
    background: #fff;
}


/**
Login
 */

#components-form-demo-normal-login {
    height: 100%;
    border-top: none;
}

#components-form-demo-normal-login .login-form {
    max-width: 300px;
    margin: 0 auto;
}

#components-form-demo-normal-login .login-form-forgot {
    float: right;
}

#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
    float: left;
}

#components-form-demo-normal-login .login-form-button {
    width: 100%;
}

.top-nav-avatar {
    margin-left: auto;
    float: right;
}

.menu-remove-float {

}

.form-item-upload .ant-upload-select-picture-card {
    height: 92px;
    width: 92px;
}

.custom-table {
    .ant-table-thead {
        .ant-table-cell {
            &:last-child {
                .ant-table-column-title {
                    display: none !important;
                }

                .ant-dropdown-trigger {
                    font-size: 15px;
                    font-weight: bold;
                    color: grey;
                    margin-right: -20px;
                }
            }
        }
    }
}

.ant-breadcrumb a:hover, .ant-breadcrumb li:last-child, .ant-breadcrumb li:last-child a {
    color: #595959;
}

.custom-form {
    .ant-form-item {
        margin: 0 0 10px;
    }

    .ant-form-item-with-help .ant-form-item-explain {
        min-height: 19px;
    }

    .ant-form-item-explain, .ant-form-item-extra {
        font-size: 12px;
    }
}

.image-float-left .ant-image {
    float: left;
    margin-right: 15px;
}

.column-selection {
    padding: 0 !important;
    text-align: center !important;
    width: 40px;

    .ant-btn {
        margin-right: 0 !important;
        width: 100% !important;
        padding: 0 !important;
        height: 100% !important;
    }
}

.create-invoice-wrapper {
    .ant-form-item {
        margin: 0 0 10px;
    }

    .ant-form-item-with-help .ant-form-item-explain {
        min-height: 19px;
    }

    .ant-form-item-explain, .ant-form-item-extra {
        font-size: 12px;
    }
}
